<h1>New Comment</h1>

<%= debug params[:post_id] %>

<% @comment.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert"><%= message %></div>
<% end %>


<%= form_for(@comment, url: create_comment_path) do |f|%>
  <div class="comment_body_input">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  <div class="comment_username_input">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

    <%= hidden_field_tag :post_id, params[:post_id]  %>


  <%= f.submit %>
<% end %>
