

<div class="row new_title">
  <div class="col-xs-8 col-xs-offset-2">
    <h1>Ask Reddit</h1>
  </div>
</div>

<div class="row new_title">
  <div class="col-xs-8 col-xs-offset-2">
    <% @post.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
  </div>
</div>




<div class="row row_new_post_form">
  <div class="col-xs-8 col-xs-offset-2 new_post_form">
    <div class="form-group">
      <%= form_for(@post, url: create_post_path) do |f|%>

        <div class="row newpost_titlelabel">
          <%= f.label "Title:" %>
        </div>
        <div class="row newpost_titleinput">
          <%= f.text_area :title, class:"form-control", size: "10x2" %>
        </div>
        <div class="row newpost_username_save_cancel">
          <%= f.label :username %>
          <%= f.text_field :username %>
          <%= f.submit "Submit" %>
          or
          <%= link_to 'Cancel', :back %>
        </div>

        <% end %>

    </div>
  </div>
</div>
