<h1>New Reddit</h1>


<% @post.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert"><%= message %></div>
<% end %>


<%= form_for(@post, url: create_post_path) do |f|%>
  <div class="post_title_input">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="post_body_input">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="post_username_input">
    <%= f.label :username %>
    <%= f.text_area :username %>
  </div>


  <%= f.submit %>
<% end %>
