



<div class="row crossarea">

    <div class="col-xs-2 home_voteup_buttons_area">

        <%= link_to voteup_inshow_path(id: @post.id), method: :post, class: "btn btn-success btn-lg" do %>
        <i class="glyphicon glyphicon-thumbs-up"></i>
        <% end %>
        <%= link_to votedown_inshow_path(id: @post.id), method: :post, class: "btn btn-success btn-lg" do %>
        <i class="glyphicon glyphicon-thumbs-down"></i>
        <% end %>
    </div>

    <div class="col-xs-8 home_post">
      <div class="row home_post_title">
        <h1>  <%= @post.title %> </h1>
      </div>

      <div class="row home_post_title_row">
        <div class="home_post_titlecaption">
          <small class="home_votes">votes: <%= @post.vote_count %></small>
          <small
          class="home_comments"><%= link_to pluralize(@post.comments.count, "comment"), show_path(id: @post.id) %>
          </small>
        </div>
      </div>

      <div class="row home_post_timestamp_row">
        <div class="home_comments">
          <small>
            Submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.username %>
          </small>
        </div>
      </div>

      <div class="row post_body">
        <p><%= @post.body %></p>
      </div>

    </div>

</div>

<p>
  ===
</p>



<h4>New Comment</h4>

<%= form_for(@comment, url: create_comment_path) do |f|%>
  <div class="comment_body_input">
    <%= f.text_field :body %>
  </div>
  <div class="comment_username_input">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <%= f.submit %>
<% end %>



<h4>Comments:</h4>
<div class="comments_area">

    <% @post.comments.each do |comment|%>
    <p class="comment_body">
      <%= comment.body %>
    </p>
    <span ="comment_username"><%= time_ago_in_words(comment.created_at) %> by <%= comment.username %>
    </span>
    <p>
      ====
    </p>
    <% end %>

</div>
