<h1>  <%= @post.title %> </h1>

<p>
  <%= @post.body %>
</p>

<small class="home_votes">votes: <%= @post.vote_count %></small>

<p>
  ===
</p>
<div class="comments_title">
  <%= link_to 'Comment', new_comment_path(post_id: @post.id), class: "btn btn-primary" %>
</div>

<h4>Comments:</h4>
<div class="comments_area">

    <% @post.comments.each do |comment|%>
    <p class="comment_body">
      <%= comment.body %>
    </p>
    <span ="comment_username"> by: <%= comment.username %></span>

    <% end %>

</div>
