<!DOCTYPE html>
<html>
<head>
  <title>Reddit_byECT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row titlebackground">
  <div class="col-xs-8 col-xs-offset-2 page-headerme"> Reddit </div>
</div>

<div class="row">
  <div class="col-xs-3 col-xs-offset-2 links">
    <%= link_to 'Home', posts_path %>
    <span>
    <%= link_to 'New Reddit', new_post_path %>
    </span>
  </div>
</div>


<%= yield %>

</body>
</html>
